.button {
  display: block;
  background: $av-color-teal-light;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: $av-font-weight-bold;
  text-align: center;
  border-radius: 36px;
  cursor: pointer;
  padding: 16px 24px;
  border: 0;

  transition: $av-standard-animation;

  position: relative;

  &:hover {
    background: $av-color-teal;
  }

  &.primary {
    background: $av-color-orange;
    &:hover {
      background: $av-color-orange-dark;
    }
  }

  &.large {
    font-size: 16px;
  }

  &.full-width {
    width: 100%;
  }
}



/* The container <div> - needed to position the dropdown content */
.dropdown-container {
  position: relative;
  display: inline-block;

  transition: $av-standard-animation;

  &:hover {
    /* Show the dropdown menu on hover */
    .dropdown-content { 
      display: block; 
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .button { 
      background-color: $av-color-teal-dark; 
    }
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: $av-border-radius-double;
    min-width: 160px;
    box-shadow: $av-box-shadow-base;
    z-index: 1;

    padding-top: $av-border-radius-double;
    padding-bottom: $av-border-radius-double;
    
    /* Links inside the dropdown */
    a {
      color: $av-font-color;
      padding: 12px 24px;
      text-decoration: none;
      display: block;

      // &:first-child {
      //   border-top-left-radius: $av-border-radius-double;
      //   border-top-right-radius: $av-border-radius-double;
      // }

      // &:last-child {
      //   border-bottom-left-radius: $av-border-radius-double;
      //   border-bottom-right-radius: $av-border-radius-double;
      // }
      

      /* Change color of dropdown links on hover */
      &:hover {
        background-color: $av-color-teal-superlight;
      }
    }
  }
 
}