.card {
  display: block;
  background: #fff;
  box-shadow: $av-box-shadow-base;
  margin: 0 0 18px 0;
  transition: $av-standard-animation;
  border-radius: $av-border-radius-quadruple;
  
  // Makes sure .card that are also an <a> element behaves differently than non-interactive cards
  @at-root {
    a#{&} {
      border-radius: $av-border-radius-base;
      cursor: pointer;
      border-width: 0px;
      border-style: solid;
      padding: 32px;

      &:hover {  
        padding: 29px;
        border-width: $card-highlight-border-width;
        text-decoration: none;
      }
    }
  }

  .title {
    font-size: 26px;
    font-weight: $av-font-weight-bold;
  }

  .subtitle {
    font-weight: $av-font-weight-normal;
    font-size: $av-font-size-small;
    line-height: 20px;
    color: #85a9af;
  }

  &.create-place {
    background: $av-color-teal-light;
    border-color: $av-color-teal-dark;

    .title,
    .subtitle {
      color: #fff;
    }
  }

  &.create-account {
    background: $av-color-orange;
    border-color: $av-color-orange-dark;

    .title,
    .subtitle {
      color: #fff;
    }
  }
}