.card {
  display: block;
  background: #fff;
  
  box-shadow: 0 1px 2px $shadow-color, 
              0 2px 4px $shadow-color, 
              0 4px 8px $shadow-color, 
              0 8px 16px $shadow-color,
              0 16px 32px $shadow-color, 
              0 32px 64px $shadow-color;
  padding: 32px;

  margin: 0 0 18px 0;

  transition: $av-standard-animation;
  
  // Makes sure .card that are also an <a> element behaves differently than non-interactive cards
  @at-root {
    a#{&} {
      border-radius: $av-border-radius;
      cursor: pointer;
      
      border-width: 0px;
      border-style: solid;

      &:hover {  
        // padding: 29px 45px;
        padding: 29px;
      
        border-width: $card-highlight-border-width;
        text-decoration: none;
      }
    }
  }

  .title {
    font-size: 26px;
    font-weight: $av-font-weight-bold;
  }

  .subtitle {
    font-weight: $av-font-weight-normal;
    font-size: 14px;
    line-height: 20px;
    color: #85a9af;
  }

  &.create-place {
    background: $alloteal-light-color;
    border-color: $alloteal-dark-color;

    .title,
    .subtitle {
      color: #fff;
    }
  }

  &.create-account {
    background: $allored-color;
    border-color: $allored-dark-color;

    .title,
    .subtitle {
      color: #fff;
    }
  }
}