

.form-container {

  & > * {
    margin-bottom: 12px;
  }

  &:last-child {
    margin-bottom: 0;
  }

}


input[type=text],input[type=password],textarea {
  box-sizing: border-box;

  width: 100%;
  max-width: 100%;

  border: 1px solid $alloteal-superlight-color;
  background: $alloteal-background-color;
  

  font-size: $av-font-size-base;
  padding: 12px;

  &::placeholder {
    color: $alloteal-superlight-color;
  }
}

textarea {
  min-height: 120px;
}