

.form-container {

  & > * {
    margin-bottom: $av-padding-base;
  }

  &:last-child {
    margin-bottom: 0;
  }

}


input[type=text],input[type=password],textarea {
  box-sizing: border-box;

  width: 100%;
  max-width: 100%;

  border: 1px solid $av-color-teal-superlight;
  background: $av-color-input-background;
  

  font-size: $av-font-size-base;
  padding: $av-padding-base;

  &::placeholder {
    color: $av-color-teal-superlight;
  }
}

textarea {
  min-height: 120px;
}