body {
  margin: 0;
  height: 100vh;
  
  background: #c9eaef url("/images/places-bg@2x.jpg") no-repeat top;
  background-attachment: fixed;
  background-size: cover;

  color: $av-color-teal;
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  .main-container {
    width: 840px;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-bottom:240px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 48px;

  margin-bottom: 64px;

  &__title {
    font-size: 30px;
    display: flex;
    align-items: center;

    &__logo {
      height: 48px;
      margin-right: $av-padding-base;
    }
  }

  &__buttons {
    display: flex;

    & > * {
      margin-left: $av-padding-base;
    }
  }
}

.content-wrapper {
  display: flex;
  justify-content: space-between;

  .column {
    width: 48%;

    .room-list {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;

      &__title {
        margin: 24px 0 12px 0;
        font-size: $av-font-size-small;
        font-weight: $av-font-weight-bold;
        text-transform: uppercase;
      }
    }
  }
}