h2 {
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

h4 {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 22px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #336f79;

  &:hover {
    text-decoration: underline;
  }
}
