h2 {
  //@extend: 20px;
  line-height: 32px;
  margin: 0;
  margin-bottom: 8px;

  font-size: 22px;
  font-weight: $av-font-weight-bold;
}

h4 {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  margin: 0;
}

p {
  font-size: $av-font-size-base;
  line-height: 24px;
  margin-bottom: 32px;
}

a {
  font-weight: $av-font-weight-bold;
  text-decoration: none;
  color: $alloteal-color;

  &:hover {
    text-decoration: underline;
  }
}
