h2 {
  //@extend: 20px;
  line-height: 32px;
  margin: 0;
  margin-bottom: 3px;

  font-size: 26px;
    font-weight: 600;
}

h4 {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  margin: 0;
}

p {
  font-size: 17px;
  line-height: 24px;
}

a {
  //font-weight: bold;
  text-decoration: none;
  color: $alloteal-color;

  &:hover {
    text-decoration: underline;
  }
}
