h2 {
  margin: 0 0 $av-padding-base 0;
  font-size: $av-font-size-large;
  font-weight: $av-font-weight-bold;
}

h3 {
  font-size: $av-font-size-large;
  font-weight: $av-font-weight-normal;
  margin: 0 0 $av-padding-base 0;
}

h4 {
  font-size: $av-font-size-small;
  font-weight: $av-font-weight-normal;
  margin: 0 0 $av-padding-base 0;
}

p {
  font-size: $av-font-size-base;
  line-height: 1.4;
  margin: 0 0 $av-padding-base 0;
}

a {
  font-weight: $av-font-weight-bold;
  text-decoration: none;
  color: $av-color-teal;

  &:hover {
    text-decoration: underline;
  }
}
