$allored-color: #e66c48;
$allored-dark-color: #c04c2a;

$alloteal-color: #336f79;
$alloteal-dark-color: #4d777e;
$alloteal-light-color: #64939e;
$alloteal-superlight-color: #B4C6D4;
$alloteal-background-color: rgba(180,198,212,0.1);

$shadow-color: rgba(51, 111, 121, 0.07);



$av-border-radius: 12px;

$av-standard-animation: all ease-in-out 0.15s;

$card-highlight-border-width: 3px;


$av-font-size-base: 17px;
$av-font-size-small: 14px;


$av-font-weight-normal: 400;
$av-font-weight-bold: 600;



$av-color-error: #f66;
$av-color-warning: #fc6;