
/* Standard colors */

$av-color-teal: #336f79;
$av-color-teal-dark: #4d777e;
$av-color-teal-light: #64939e;
$av-color-teal-superlight: #B4C6D4;
$av-color-yellow: #ffe259;
$av-color-yellow-superlight: #fff0a7;

$av-color-orange: #e66c48;
$av-color-orange-dark: #c04c2a;

$av-color-error: #CF3720;
$av-color-warning: #fc6;
$av-color-message-bg: #1f2526;

$av-color-card-shadow: rgba(51, 111, 121, 0.07);
$av-color-input-background: rgba(180, 198, 212, 0.1);


/* Standard border width for highlighted cards */
/* TODO: Use this value to calculate the padding the highlight replaces. Currently, that padding is magic numbers */
$card-highlight-border-width: 3px;


/* Border radii */
$av-border-radius-base: 12px;
$av-border-radius-double: calc(2 * #{$av-border-radius-base});
$av-border-radius-triple: calc(3 * #{$av-border-radius-base});
$av-border-radius-quadruple: calc(4 * #{$av-border-radius-base});


$av-font-color: $av-color-teal;

/* Font sizes */
$av-font-size-base: 17px;
$av-font-size-small: 14px;
$av-font-size-large: 22px;


/* Font weights */
$av-font-weight-normal: 400;
$av-font-weight-bold: 600;


/* Standard padding & margins */
$av-padding-base: 12px;
$av-padding-double: calc(2 * #{$av-padding-base});
$av-padding-triple: calc(3 * #{$av-padding-base});
$av-padding-quadruple: calc(4 * #{$av-padding-base});
$av-padding-half: calc(#{$av-padding-base}/2);


/* Standard animation specification */
/* TODO: Improve performance by only animating things that matter, i.e. not "all" */
$av-standard-animation: all ease-in-out 0.15s;


/* Standard box shadow */
$av-box-shadow-base:  0 1px 2px $av-color-card-shadow, 
                      0 2px 4px $av-color-card-shadow, 
                      0 4px 8px $av-color-card-shadow, 
                      0 8px 16px $av-color-card-shadow,
                      0 16px 32px $av-color-card-shadow, 
                      0 32px 64px $av-color-card-shadow;