<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title() %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>

  <%# TODO: Display this error message panel if something goes wrong %>
  <%# <div class="message-panel error">
    <h3>Something went wrong</h3>
    <p>Sike! It's just a test error message!</p>
  </div> %>


    <div class="wrapper">
      <div class="main-container">
        <div class="header">

          <%= link to: "/", class: "header__title" do %>
            <img src="<%= Routes.static_path(@conn, "/images/alloverse-logo.png") %>" class="header__title__logo" />
            <span>
              Alloverse <strong>Places</strong>    
            </span>
          <% end %>

          <div class="header__buttons">
          <%# TODO: replace "true" in the conditional with "if user is logged in" %>
          <%= if false do %>
          <div class="dropdown-container">
            <a class="button image">
              <%# <img src="<%= Routes.static_path(@conn, "/images/user-picture.jpg") " /> %>
              Toby Fox
            </a>
            <div class="dropdown-content">
              <a href="#">Settings (TBD)</a>
              <a href="#">Log Out (TBD)</a>
            </div>
          </div>
              <%# <img src="<%= Routes.static_path(@conn, "/images/user-picture.jpg")" /> %>
                
              
            <% else %>
              <%= link("Create Account", to: "/user/42/edit/", class: "button")%>
              <%= link("Log In", to: "/login/", class: "button")%>
            <% end %>
          </div>
        </div>
      
        <%# TODO: replace "false" in the conditional with "if an info/error message is available" %>
        <%= if false do %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <% end %>

        <%= render @view_module, @view_template, assigns %>
    
      </div>
    </div>
    
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
